* {
    font-family: Lato;
    margin: 0;
    padding: 0;
}

  @media only screen and (min-width: 500px) {
    .grumpy-pants {
      color: black;
      padding: 10px 0px 0px 140px 
    }
    
    .adrian {
    color: gray;
    padding: 2px 0px 0px 135px;
    font-size: smaller
    }
    
    .fouronetwo {
      color:gray;
      padding: 2px 0px 0px 128px;
      font-size: smaller
    }
    
    .categories {
      margin: 20px 0px 5px 10px
    }
    
    .words {
      margin: 0px 0px 30px 10px;
    }
    
  
    .botswana {
      margin: 0px 0px 2.5px 10px;
    }
  
    .pizza-hut {
      margin: 0px 0px 0px 10px
    }

  }

    @media only screen and (min-width: 768px) {
      .grumpy-pants{
        color: black;
        padding: 10px 0px 0px 275px 
      }
      
      .adrian {
      color: gray;
      padding: 2px 0px 0px 268px;
      font-size: smaller
      }
      
      .fouronetwo {
        color:gray;
        padding: 2px 0px 0px 262px;
        font-size: smaller
      }
      
      .categories {
        margin: 20px 0px 5px 10px
      }
      
      .words {
        margin: 0px 0px 30px 10px;
      }
      
    
      .botswana {
        margin: 0px 0px 2.5px 10px;
      }
    
      .pizza-hut {
        margin: 0px 0px 0px 10px
      }
    }

      @media only screen and (min-width: 992px) {
        .grumpy-pants {
          color: black;
          padding: 10px 0px 0px 400px 
        }
        
        .adrian {
        color: gray;
        padding: 2px 0px 0px 392px;
        font-size: smaller
        }
        
        .fouronetwo {
          color:gray;
          padding: 2px 0px 0px 386px;
          font-size: smaller
        }
        
        .categories {
          margin: 20px 0px 5px 10px
        }
        
        .words {
          margin: 0px 400px 30px 10px;
        }
        
      
        .botswana {
          margin: 0px 0px 2.5px 10px;
        }
      
        .pizza-hut {
          margin: 0px 0px 0px 10px
        }
      }

      @media only screen and (min-width: 1200px) {
        .grumpy-pants {
          color: black;
          padding: 10px 0px 0px 500px 
        }
        
        .adrian {
        color: gray;
        padding: 2px 0px 0px 492px;
        font-size: smaller
        }
        
        .fouronetwo {
          color:gray;
          padding: 2px 0px 0px 486px;
          font-size: smaller
        }
        
        .categories {
          margin: 20px 0px 5px 10px
        }
        
        .words {
          margin: 0px 500px 30px 10px;
        }
        
      
        .botswana {
          margin: 0px 0px 2.5px 10px;
        }
      
        .pizza-hut{
          margin: 0px 0px 0px 10px
        }
      }

      